# Discord Configuration
DISCORD_TOKEN=your_bot_token_here
CLIENT_ID=your_application_client_id_here

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_key_here
AWS_REGION=ap-south-1
S3_BUCKET_NAME=your_bucket_name
S3_BASE_URL=https://bucket-name.region.s3.amazonaws.com
S3_FOLDER=audio

# NeonDB PostgreSQL Configuration
NEON_DB_URL=postgresql://username:password@ep-your-endpoint.region.aws.neon.tech/neondb?sslmode=require

# Spotify API Configuration
SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here

# Lavalink Configuration
LAVALINK_URL=localhost:2333
LAVALINK_AUTH=youshallnotpass
LAVALINK_NAME=RDP-Soundboard-Node
LAVALINK_SECURE=false